  <section class="page">
    {% include "issues" %}
  <article>
       <header>
       <h1>{{ model.title }}</h1>
       <h3>{{ model.subtitle }}</h3>
       <p class="byline">
        Words and Music by {{ model.byline }}
       </p>
       </header>
       <div class="article-body">
       {% for paragraph in model.paragraphs %}
         {% if paragraph.blockquote == true %}
           <blockquote><p>{{ paragraph.text }}</p></blockquote>
         {% else %}
           <p>{{ paragraph }}</p>
         {% endif %}
       {% endfor %}
       </div>
       {% include "author" %}
       <footer>
          <h5>SHARE THIS</h5> 
          <a href="#"><img src="/assets/img/facebook.png"></a>
          <a href="#"><img src="/assets/img/googleplus.png"></a>
          <a href="#"><img src="/assets/img/email.png"></a>
          <a href="#"><img src="/assets/img/linkedin.png"></a>
          <a href="#"><img src="/assets/img/twitter.png"></a>
       </footer>
  </article>
</section>
